PORT=3000
FRONTEND_URL=http://localhost:4200

MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin
MONGO_INITDB_DATABASE=airtable_integration
MONGO_AUTH_SOURCE=admin

AIRTABLE_CLIENT_ID=
AIRTABLE_CLIENT_SECRET=
AIRTABLE_REDIRECT_URI=http://localhost:3000/airtable/oauth/callback
AIRTABLE_API_BASE_URL=https://api.airtable.com/v0
AIRTABLE_AUTHORIZE_URL=https://airtable.com/oauth2/v1/authorize
AIRTABLE_TOKEN_URL=https://airtable.com/oauth2/v1/token
AIRTABLE_SCOPES=data.records:read schema.bases:read user.email:read
AIRTABLE_ACCESS_TOKEN=
AIRTABLE_LOGIN_URL=https://airtable.com/login
AIRTABLE_REVISION_HISTORY_URL=https://airtable.com/v0.3/row/{recordId}/readRowActivitiesAndComments
AIRTABLE_TIME_ZONE=Europe/Kiev
AIRTABLE_SCRAPER_HEADLESS=false
